/* Set the font and center the page */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 450px;
    margin: auto;
    /* Push the bottom of the page slightly farther away to allow scrolling down */
    margin-bottom: 5rem;
}

/* Make header fancy */
/* Set spacing and background details */
header {
    padding: 1.25rem;
    background-color: #80FFFF;
    border-radius: 1rem;
    margin: 0;
    margin-top: 1rem;
}
/* Set font details */
h1 {
    margin: 0;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 3rem;
    letter-spacing: 0.33rem;
    text-align: center;
    text-transform: uppercase;
}


/* Improve readability for blobs of text */
p {
    letter-spacing: 0.075em;
    line-height: 1.5;
    text-indent: 2em;
}

/* Round the image */
img {
    border-radius: 1rem;
}

/* Set font details for links */
a {
    letter-spacing: 0.075em;
    text-decoration-color: #ffffff;
    text-align: center;
    color: #ffffff;
}
/* anchor surrounds a block element to give a background color */
footer a > div {
    background-color: #3080C0;
    border-radius: 1rem;
    padding: 2em 1em;
}